<% @astronauts.each do |astronaut| %>
  <section class="astronauts-index" id="astronaut-<%= astronaut.id %>">
    <h3><%= astronaut.name %></h3>
      <p>Age: <%= astronaut.age %></p>
      <p>Job: <%= astronaut.job %></p>
      <% astronaut.missions.each do |mission| %>
        <h5 id="space-missions-<%= astronaut.id %>"><%= mission.title %></h5>
      <% end %>
  </section>
<% end %>
<section id="average-age">
  <p>Average Age: <%= @astronauts.average_age.to_f %></p>
</section>
